body {
  padding: 50px;
}

.element {
  display: block;
  margin: 20px;
}

header {
  border-bottom: 1px solid #AAA;
  margin-bottom: 1.5em;
}

footer {
  color: #888;
  font-size: 12px;
}

#me-desc {
  color: #666;
  font-style: italic;
  font-size: 18px;
  list-style: none;
}

#me-desc li {
  margin-bottom: 1em;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  color: #333;
  font-size: 12px;
  line-height: 1.5;
}

.post-list {
  list-style: none;
}

.post-item-title {
  margin: 0;
}

.post-item-date {
  color: #777;
  font-size: 16px;
  font-style: italic;
}
