body {
  padding: 50px;
}

.element {
  margin: 20px;
}

footer {
  bottom: 25px;
  color: #888;
  font-size: 12px;
}

footer p {
  margin: 0;
}

#me-desc {
  color: #666;
  font-style: italic;
  font-size: 18px;
  list-style: none;
}

#me-desc li {
  margin-bottom: 1em;
}

.post-list {
  list-style: none;
}

.post-item-title {
  margin: 0;
}

.post-item-date {
  color: #777;
  font-size: 16px;
  font-style: italic;
}
